
.page { 
    min-width: 75vw;
}

.page-content {
    margin-left: 40px;
    margin-top: 25px;
    font-family: Arial, Arial;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}

.page-title {
    padding-left: 36px;
    margin-bottom: -10px;
    font-size: 22px;
}