
.nav {
    display: flex;
    align-items: center;
}

.nav > img {
    padding: 5px;
}

.nav-logo {
    width: 87px;
    height: 83px;
}

.nav-logo-button, .nav-search-button {
    background: none;
    border: none;
}

.nav-search, .nav-profile {
    width: 55px;
    height: 55px;    
    filter: invert(15%) sepia(97%) saturate(7448%) hue-rotate(202deg) brightness(57%) contrast(126%);
}
