
.navigation-from-logo {
    background-color: #F0F2FA;
    z-index: 1;
    position: fixed;
    top: 100px;
    width: 216px;

    /*Hide content*/
    left: -216px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.75s, visibility 0.75s, left 0.75s;
    overflow: hidden;
}

.navigation-from-logo.open {
    opacity: 1;
    visibility: visible;
    left: 6px;
}

.nfl-main  {
    list-style: none;
    padding-inline-start: 10px;
}

.nfl-main>ul {
    list-style: none;
    padding-inline-start: 25px;
}

.nfl-main > li {
    margin-bottom: 21px;
}

.nfl-main > li > a {
    font-family: "Open Sans", Arial;
    font-size: 15px;
    font-weight: 400;
    color: #024;
    text-decoration: none;
}