
.search-navigation {
    background-color: #DDDCF2;
    z-index: 1;
    position: fixed;
    top: 100px;
    --width: 370px;
    width: var(--width);

    /*Hide content*/
    left: calc(var(--width) * -1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.75s, visibility 0.75s, left 0.75s;
}

.search-navigation.open {
    opacity: 1;
    visibility: visible;
    left: 6px;
}

.search-box {
    background-color: #eee;
    width: calc(var(--width) - 1em)
}