
.search-results {
    list-style-type: none;
    padding-inline-start: 20px;
    margin-top: 20px;
    height: calc(100vh - 120px);
    width: 100vw;
    overflow-y: scroll;   
    text-align: center;
}

.search-results > li {
    margin: 40px 0px;
    margin-right: 12vw;
    font-family: Arial, Arial;
    font-size: 25px;
    font-weight:bold;
    color: #ddd;
    justify-content: center;
}