
.search-navigation {
    background: rgba(0, 0, 0, 0);
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vw;
    top:0;
    visibility: hidden;
    transition: background-color 0.3s, visibility 0.3s;
    overflow: hidden;
}

.search-navigation.open {
    background: rgba(0, 0, 0, 0.9);
    visibility: visible;
}

.search-container {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.search-field {
    background-color: white;
    font-weight: bold;
}

.close-search-bar {
    background-color: #ddd;
    height: 12px;
    width: 100px;
    position: fixed;
    right: 10vw;
    top: 10vh;
}

.close-search-bar.one {
    transform: rotate(45deg);
}

.close-search-bar.two {
    transform: rotate(-45deg);
}

.close-search-bar-button {
    border: none;
    background: none;
}
