
.search-results {
    list-style-type: none;
    padding-inline-start: 20px;
    height: calc(100vh - 170px);
    overflow: scroll;
}

.search-results > li {
    margin: 15px 0px;
    font-family: Arial, Arial;
    padding: 0px 0px 0px 3px;
}

.search-results > li > a {
    text-decoration: none;
}

.search-result-title { 
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #eee;
}

.search-result-content {
    font-weight: normal;
    font-style: italic;
    color: #aaa;
    font-size: 14px;
}